<h1>PROYECTO HOWARTS Ruby on Rails (RoR)</h1>
<br>
<h3>Pages#index</h3>
<p>Find me in app/views/pages/index.html.erb</p>

<% @characters.each do |character| %>
    <div class="char" style="border:5px;">
        <%= 'Nombre: ' + character.name %></br>
        <%= 'Ubicación: ' + character.location %></br>
        <%= 'Casa: ' + character.house %></br>
        <%= '--------------------------------------------'%>
    </div>
<% end %>

<p>Para agregar un registro presione <a href="pages/new">AQUI</a></p>