<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<% @characters.each do |character| %>
    <div class="char" style="border:1px;">
        <%= character.name %></br>
        <%= character.location %></br>
        <%= character.house %></br>
    </div>
<% end %>